.row {
    width: 100%;
    height: 50vh;
}
.kiosk {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 40px;
}
p {
    color: white;
    text-shadow: h-shadow v-shadow blur-radius color|none|initial|inherit;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}
.center {
    text-align: center;
    position: relative;
    top: 65%;
    transform: translateY(-50%);
}
.button {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    border: 5px solid;
    background-repeat: no-repeat;
    background-size: 250px 250px;
}
#kiosk1 {
    background-image: url("/img/Max.png");
    background-color: #ffd359;
    margin-left: 5px;
}
#kiosk2 {
    background-image: url("/img/Derek.png");
    background-color: #5cff59;
    margin-right: 5px;
}
#kiosk3 {
    background-image: url("/img/Kristina.png");
    background-color: #34eb8c;
    margin-left: 5px;
}
#kiosk4 {
    background-color: #bd59ff;
    margin-right: 5px;
}
#kiosk5 {
    background-color: #eb4034;
    margin-right: 5px;
}
#kiosk6 {
    background-color: #59bdff;
    margin-right: 5px;
}