<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Distribution Board</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/home.css">

</head>
<body>
    <div class="row">
        <div class="col kiosk">
            <div role="button" class="button" id="kiosk1"><p class="center" id="kiosk1Text">None</p></div>
        </div>
        <div class="col kiosk">
            <div role="button" class="button" id="kiosk2"><p class="center" id="kiosk2Text">None</p></div>
        </div>
    </div>
    <div class="row">
        <div class="col kiosk">
            <div role="button" class="button" id="kiosk3"><p class="center" id="kiosk3Text">None</p></div>
        </div>
        <div class="col kiosk">
            <div role="button" class="button" id="kiosk4"><p class="center" id="kiosk4Text">None</p></div>
        </div>
    </div>
</body>
</html>

<script src="/socket.io.js"></script>
<script>
    var socket = io.connect(window.location.href);

    var kiosk1Text = document.getElementById('kiosk1Text');
    var kiosk2Text = document.getElementById('kiosk2Text');
    var kiosk3Text = document.getElementById('kiosk3Text');
    var kiosk4Text = document.getElementById('kiosk4Text');
    var kiosk1 = document.getElementById('kiosk1');
    var kiosk2 = document.getElementById('kiosk2');
    var kiosk3 = document.getElementById('kiosk3');
    var kiosk4 = document.getElementById('kiosk4');

    socket.on('kiosk1', function (data) {
        kiosk1Text.innerHTML = data;
    });
    socket.on('kiosk2', function (data) {
        kiosk2Text.innerHTML = data;
    });
    socket.on('kiosk3', function (data) {
        kiosk3Text.innerHTML = data;   
    });
    socket.on('kiosk4', function (data) {
        kiosk4Text.innerHTML = data;
    });

    kiosk1.onclick = function() {
        kiosk1Text.innerHTML = "Completed";
    };
    kiosk2.onclick = function() {
        kiosk2Text.innerHTML = "Completed";
    };
    kiosk3.onclick = function() {
        kiosk3Text.innerHTML = "Completed";
    };
    kiosk4.onclick = function() {
        kiosk4Text.innerHTML = "Completed";
    };

</script>
